<a href="https://colab.research.google.com/github/ardianozi18/MachineLearningDicoding/blob/main/SKLearn_Train_Test_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [16]:
import os
os.listdir()

['.config', 'Iris.csv', '.ipynb_checkpoints', 'sample_data']

In [17]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [19]:
iris = datasets.load_iris()

In [20]:
x = iris.data
y = iris.target

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [22]:
len(x_test)

30